.DS_Store
*.pyc
__pycache__
.vscode/

*.png
*.jpg
*.pth

output/*
!output/pix2pix_samples.jpg
!output/progan_samples.jpg
!output/progan_train.gif
!output/style_transfer_samples.jpg

modelzoo/*
datasets/*

TODO.md